@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


// Custom Color 
$white:    #fff;
$black:    #000;

// Gray
$gray-50:  #F7FAFC;
$gray-100: #EDF2F7;
$gray-200: #E2E8F0;
$gray-300: #CBD5E0;
$gray-400: #A0AEC0;
$gray-500: #718096;
$gray-600: #4A5568;
$gray-700: #2D3748;
$gray-800: #1A202C;
$gray-900: #171923;

$primary : #FBCD06 !default;
$light: #F5F7FF !default;


/* import bootstrap to set changes */
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";