
.header-section {
    
    .banner-image {
        background: url("https://i.ibb.co/tm6tjZ3/hero-image-e8dc6ef8.jpg");
        background-size: cover;
        background-position: top;
        height: 665px;
        border-bottom-left-radius: 300px;

        @include media-breakpoint-down(xxl){
            border-bottom-left-radius: 200px;
        }

        @include media-breakpoint-down(lg){
            border-bottom-left-radius: 100px;
        }


        &::after {
            content: ""; 
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 635px;
            border-bottom-left-radius: 280px;


            @include media-breakpoint-down(xxl){
                border-bottom-left-radius: 180px;
            }
    
            @include media-breakpoint-down(lg){
                border-bottom-left-radius: 80px;
            }

        }

    }

    
    .content {
        position: absolute;
        z-index: 999;

        h1 {
            font-size: 55px;
            font-weight: 600;
            color: $primary;

            @include media-breakpoint-down(md) {
                font-size: 2rem;
            }

        }

        p {
            font-size: 20px;
            color: $white;
            width: 90%;

            @include media-breakpoint-down(md){
                font-size: 0.875rem;
            }

        }

        button {
            padding: 0.5rem 1rem;
            font-size: 18px;
            font-weight: 500;
            color: $white;
            border-radius: 8px;
        }
    }

}

.step-section {
    position: relative;
    padding: 10rem 0;

    @include media-breakpoint-down(xl){
        padding: 5rem 0;
    }

    &--header {
        position: relative;
        z-index: 1;

        h2 {
            line-height: normal;

            @include media-breakpoint-down(lg){
                width: 60%;
            }

            @include media-breakpoint-down(md){
                width: 100%;
            }


        }

        p {
            line-height: 1.5;
        }

    }

    &--step {
        position: relative;
        z-index: 1;

        h3 {
            color: $gray-800;
        }
    
        p {
            color: $gray-500;
    
            @include media-breakpoint-down(lg){
                opacity: 1;
            }
    
        }
    
        span {
           z-index: -1;
           font-size: 8rem;
           font-weight: 700;
           opacity: 0.05;
           bottom: -35%;
           right: 0%;
    
            @include media-breakpoint-down(lg){
                right: 10%;
                bottom: -35%;
            }
    
            @include media-breakpoint-down(md){
                bottom: -35%;
                right: 0;
            }
    
            &.three {
    
                @include media-breakpoint-down(xxl){
                    bottom: -10%;
                    right: 0;
                }
    
            }
    
        }

    }   
    
    img.bgStep{
        position: absolute;
        z-index: -1;
        top: -15%;
        right: 20%;
        width: 25%;

        @include media-breakpoint-down(xxl){
            right: -5%;
        }

        @include media-breakpoint-down(xl){
            right: 0%;
        }

        @include media-breakpoint-down(lg){
            display: none;
        }

    }

}

.mulaiBisnis-section {

    &--line {
        border-bottom: 1px solid $gray-200;
    }

    .card-wrapper {        
        border-radius: 15px;
        border: 1px solid $gray-200;

        &--header {
            border-radius: 15px;
        }

        button {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }

    }

    a.link {
        
        text-decoration: none;
        
        p {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.5;
            border-bottom: 3px solid $primary;
            width: fit-content;
        }

    }

}

.contact-section {
    
    img.imgBg {
        position: absolute;
        width: 25%;
        top: 7%;
        right: -5%;
        z-index: 0;


        @include media-breakpoint-down(xxl){
            top: 10%;
        }

        @include media-breakpoint-down(xl){
            top: 15%;
        }

        @include media-breakpoint-down(lg){
            width: 35%;
            top: 20%;
        }

        @include media-breakpoint-down(md){
            width: 70%;
            top: 35%;
        }

    }

    .sectionHeader-text {

        @include media-breakpoint-down(xl){
            width: 60%;
        }

        @include media-breakpoint-down(md){
            width: 95%;
        }

    }


    p.address {
        width: 95%;
        
        @include media-breakpoint-down(lg){
            width: 60%;
        }

        @include media-breakpoint-down(md){
            width: 87%;
        }

    }

}

.footer-section {

    .footer-link {

        img.logo {
    
            padding: 0 15%;

            @include media-breakpoint-down(lg){
                padding: 0 42%;
            }
    
            @include media-breakpoint-down(md){
                padding: 0 35%;
            }
    
        }
    
        p.header {
            color: $gray-500;
            font-size: 12px;
        }
        
        ul.address {
            margin: 0;
            padding: 0;
            list-style-type: none;
            width: 95%;
            font-size: 12px;
            line-height: 1.6; 
            color: $gray-600;
            
            @include media-breakpoint-down(xxl){
                width: 100%;
            }
    
        }
    
        ul.link {
            
            a {
                color: $gray-800;
                text-decoration: none;
    
                &:hover {
                    text-decoration: underline;
                }
    
            }
    
        }
    
    }

    .footer-text {
        background-color: #FAFAFF;
        padding: 3rem 0 1rem 0;
        font-size: 13px;
        color: $gray-500;

        ul {
            list-style-type: none;
            
            li {
                margin-bottom: 1rem;
                line-height: 1.75;
            }

        }

        p {
            line-height: 1;
            margin-bottom: 0;
        }

        ol {

            li {
                margin-bottom: 1rem;
                line-height: 1.75;
            }

        }

    }

}