
    .navbar{
        background-color: transparent;
        
        img.logo {
            width: auto;
            height: 35px;
        }

        &.active {
            background-color: $white;
            box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 8px 0px;

            .container{

                .nav-link {
                    color: $gray-500;
                    font-size: 14px;
                }
            }
        }

        .container {
            
            @include media-breakpoint-up(xxl){
                margin: 0 24rem;
            }

            @include media-breakpoint-down(xxl){
                margin: 0 7rem;
            }

            @include media-breakpoint-down(xl){
                margin: 0 0;
            }

            .navbar-toggler {
                border-color: transparent !important;
            }
    
            .nav-link {
                color: $white;
                font-weight: 600;
                font-size: 14px;
                line-height: 1;
            }

            button {
                color: $white;
                font-weight: 700;
            }

        }

    }