.ubuntu-text {
    font-family: 'Ubuntu', sans-serif;
}

.karla-text {
    font-family: 'Karla', sans-serif;
}


.sectionHeader-text {
    font-size: 42px;
    font-weight: 700;
    color: $gray-800;
    line-height: 1;

    @include media-breakpoint-down(xl){
        line-height: normal;
    }

}

.sectionDesc-text {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: $gray-500;
    line-height: 1;

    @include media-breakpoint-down(xl){
        line-height: 1.5;
    }

}

.card-wrapper {
    
    h4 {
        padding-top: 0.25rem;
        font-size: 18px;
        font-weight: 600;
        color: $gray-700;
        line-height: 1;
    }

    h3 {
        font-size: 18px;
        font-weight: 700;
        color: $primary;
        line-height: 1;
    }

    button {
        font-size: 14px;
        font-weight: 600;
        color: $gray-700;
        line-height: 1;
    }

}

.text {
    font-size: 1rem;
}

.text-large {
    font-size: 18px;
}