@import "./custom.scss";
@import "./navbar.scss";
@import "./landing-page";
@import "./table-page";
@import "./typography";

html {
  scroll-behavior: smooth;
}   

body {
  background-color: $white;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

